---
const menuItems = [
  { title: 'Home', href: '/' },
  { title: 'About', href: '/about' },
  { title: 'Learn', href: '/learn' },
  { title: 'Read', href: '/read' },
  { title: 'Watch', href: '/watch' },
];
---

<div
  x-data="menuBar()"
  @click.away="menuBarOpen = false"
  class="relative top-0 left-0 z-50 w-auto transition-all duration-150 ease-out"
>
  <div class="relative top-0 left-0 z-40 w-auto h-10 transition duration-200 ease-out">
    <div class="w-full h-full p-1 bg-white border rounded-md border-neutral-200/80">
      <div class="flex justify-between w-full h-full select-none text-neutral-900">
        {menuItems.map((item) => (
          <div class="relative h-full cursor-default">
            <a
              href={item.href}
              @click="openMenu('${item.title.toLowerCase()}')"
              @mouseover="hoverMenu('${item.title.toLowerCase()}')"
              :class="{ 'bg-neutral-100' : isMenuOpen('${item.title.toLowerCase()}') }"
              class="rounded text-sm cursor-pointer flex items-center leading-tight justify-center px-3 py-1.5 h-full hover:bg-neutral-100"
            >
              {item.title}
            </a>
          </div>
        ))}
      </div>
    </div>
  </div>
</div>

<script>
  function menuBar() {
    return {
      menuBarOpen: false,
      menuBarMenu: '',
      openMenu(menu) {
        this.menuBarOpen = true;
        this.menuBarMenu = menu;
      },
      hoverMenu(menu) {
        if (this.menuBarOpen) {
          this.menuBarMenu = menu;
        }
      },
      isMenuOpen(menu) {
        return this.menuBarOpen && this.menuBarMenu === menu;
      },
    }
  }
</script>

<style>
  [x-cloak] { display: none !important; }
</style>